@model List<ApplicationUser>

<h1>Клиенти</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Потребителско име</th>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Имейл</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.UserName</td>
                <td>@obj.FirstName</td>
                <td>@obj.LastName</td>
                <td>@obj.Email</td>
                <td class="text-center">
                    <form method="post" action="@Url.Action("Delete", "CLient")" onsubmit="return confirm('Наистина ли искате да изтриете клиента: @obj.UserName?');">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Id" value="@(obj.Id)" />
                        <button type="submit" style="border: none; color:#0d6efd; background-color: transparent;" title="Изтриване">
                            <i class="bi-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>